
.nav-scrollable {
    position: fixed; 
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh; 
    background-color: #374151; 
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding-top: 20px;
}


    .nav-scrollable nav {
        display: flex;
        flex-direction: column;
        height: 100%;
    }


.nav-item {
    padding: 10px 20px;
}
.user-section {
    display: flex;
    margin-left:20px;
    justify-content:left; 
    align-items: center; 
    height: 80px;
}

    .user-section h3 {
        margin: 0;
        font-weight: 600;
    }
.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
    border-radius: 6px;
}

    .nav-link:hover {
        background-color: #374151;
        color: #60a5fa;
    }

   
    .nav-link svg {
        width: 16px;
        height: 16px;
        fill: currentColor; 
    }


.nav-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.main-content {
    margin-left: 220px; 
    padding: 20px;
}
